dash==2.0.0
dash-core-components==2.0.0
dash-cytoscape==0.2.0
dash-dangerously-set-inner-html==0.0.2
dash-deck==0.0.1
dash-html-components==2.0.0
dash-table==5.0.0
dask==2022.2.1
Flask==2.0.2
json5==0.9.6
jsonify==0.5
jsonschema==3.2.0
lxml==4.4.2
nest-asyncio==1.5.1
nltk==3.4.5
numba==0.55.1
numpy==1.21.5
packaging==21.2
pandas==1.2.5
plotly==5.5.0

